html, body {
	position: relative;
	width: 100%;
	height: 100%;
    font-size: 14px;
    margin: 0px;
    font-family: Tahoma, sans-serif;
    background-color: rgb(178, 178, 178);
}

/* Input/Button Styles */

button {
    border-width: 0px;
}

input, textarea {
    width: 100%;
    height: 100%;
    resize: none;
    
    background-color: rgb(240, 240, 250);
    border: none;
    padding: 0px;
}

/* Text area will not have centered text */
input {
    text-align: center;
}

input:hover, textarea:hover {
    background-color: lightseagreen;
}

input:focus, textarea:focus {
    background-color: rgba(150, 200, 150);
    outline: none;
}

.simple-button {
    color: white;
    background-color: seagreen;
}

.simple-button:hover {
    background-color: lightseagreen;
}

.exit-button {
    color: white;
    background-color: red;
}

.exit-button:hover {
    background-color: lightcoral;
}

.toggled {
    color: white;
    background-color:darkgreen;
}

.untoggled {
    color: white;
    background-color: seagreen;
}

.untoggled:hover {
    background-color: lightseagreen;
}

/* MISC CLASSES */

.title-bar {
    padding: 6px;
    font-size: 1.3em;

    color: white;
    background-color: darkgreen;    
    text-align: left;
}

.section {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.container {
    padding: 20px;
}

.rounded {
    border-radius: 10px;
    overflow: hidden;
}

.row-height {
    height: 1.5em;
}

.divider {
    border-bottom: solid 1px black;
}

.break {
    height: 2em;
}

.centered-text {
    text-align: center;
}

.wide {
    width: 100%;
}

.tight {
    margin-left: 20%;
    margin-right: 20%;
}

.tall {
    height: 100%;
}

.padded-element {
    padding: 2px 6px 2px 6px;
}

.flex {
    display: flex;
}

.flexible {
    flex: 1;
}

.unflexible {
    flex: 0;
}

.placeholder {
    color: transparent;
}

/* Data Type Style: consider moving this to another file */

.col-type {
    font-style: italic;
    color: grey;
    font-size: .7em;
}
