html, body {
	position: relative;
	width: 100%;
	height: 100%;
    font-size: 14px;
    margin: 0px;
    font-family: Tahoma, sans-serif;
}

/* Input/Button Styles */

button {
    border-width: 0px;
}

input {
    width: 100%;
    height: 100%;    
    
    text-align: center;
    background-color: white;
    border: none;
    padding: 0px;
}

input:hover {
    background-color: lightseagreen;
}

input:focus {
    background-color: rgba(150, 200, 150);
    outline: none;
}

.simple-button {
    color: white;
    background-color: seagreen;
}

.simple-button:hover {
    background-color: lightseagreen;
}

.exit-button {
    color: white;
    background-color: red;
}

.exit-button:hover {
    background-color: lightcoral;
}

.toggled {
    color: white;
    background-color:darkgreen;
}

.untoggled {
    color: white;
    background-color: seagreen;
}

.untoggled:hover {
    background-color: lightseagreen;
}

/* MISC CLASSES */

.title-bar {
    padding: 8px;
    font-size: 1.3em;

    color: white;
    background-color: darkgreen;    
    text-align: left;
}

.row-height {
    height: 1.5em;
}

.divider {
    border-bottom: solid 1px black;
}

.centered-text {
    text-align: center;
}

.wide {
    width: 100%;
}

.tall {
    height: 100%;
}

.padded-element {
    padding: 2px 6px 2px 6px;
}

.flex {
    display: flex;
}

.flexible {
    flex: 1;
}

.unflexible {
    flex: 0;
}